.btn-danger {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 777ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 777ms ease-in;
}

.btn-input {
  background-color: transparent !important;
  color: #afafaf !important;
  border-color: transparent !important;
}

.btn-input:hover {
  color: #393e46 !important;
}

.faIcon:hover {
  color: #ffd369;
}

.pacificoFont {
  font-family: "Pacifico", cursive;
}

body {
  background: #e0ece4;
}

.faImage {
  cursor: pointer;
  color:  rgba(29, 29, 29, 0.473)
}

.faImage:hover {
  color: rgba(29, 29, 29, 0.678)
}